.logo-intro {
  width: 300px;
  height: auto;
}

.intro-desc {
  max-width: 100%;
  height: auto;
}

.pyday-web {
  height: 45px;
}

.oro {
  max-height: 200px;
  max-width: 100%;
}

.plata {
  max-height: 150px;
  max-width: 400px;
}

.bronce {
  max-height: 100px;
  max-width: 300px;
}
